{
  "name": "にゃんてすと",
  "profile": "これはニャンをテストするためのツールです。",
  "version": "0.0.1",
  "DBType": "sqlite",
  "DBUser": "",
  "DBPassword": "",
  "DBName": "../../NyanQL/nyanID.db",
  "DBHost": "",
  "DBPort": "",
}
